body {
  margin: 0px;
  padding: 20px;
}

.brand-logo {
  color: #fff;
}

.navbar {
  background-color: #333;
}


.buttons a {
  margin: 5px auto;
  background-color: salmon;
}

.buttons a:hover {
  background-color: rgb(250, 186, 178);
}

.btn {
  /* width: 10rem; */
  width: 23em;
  max-width: 100%;
  display: block;

}

.page-footer {
  background-color: #333;
  padding: 22px 0;
  color: #fff;
}

.canvas {
  display: none;
}

.media-container {
  margin-top: 10px;
}


.bullet li {
  list-style-type: square !important;
  list-style-position: initial !important;
  margin-left: 25px;

}