<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Face Detection in R</title>

  <!--materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="nav-wrapper">
        <a href="https://github.com/dviera/" class="brand-logo right" style="font-size: 1Rem;">DANIEL VIERA</a>
        <a href="#" data-target="mobile-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-responsive">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>

    </ul>
  </header>

  <h4 class="light">Face Detection using RestrServe R package</h4>

  <p class="caption">Face detection using the opencv and RestrServe R packages. It captures an image from the video
    stream and detects faces.</p>
  <p>Goal was to get familiar with RestrServe package and have a fully functional application.</p>
  <p>From my knowledge, this is the first fully functional application using RestrServe package that includes a
    front-end.
  </p>

  <h5>Front-End</h5>
  <p class="caption">The front-end was developed using:</p>
  <ul class="bullet">
    <li><a href="https://materializecss.com/" style="outline: none; color:skyblue;">materializecss</a></li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>JQuery</li>
  </ul>

  <h5> Back-end </h5>
  <p class="caption">The back-end was developed using the <a href="https://restrserve.org/"
      style="outline: none; color:skyblue;">RestrServe
    </a> R package.</p>

  <h5>Launch the application</h5>
  <ul class="bullet">
    <li>Open a new rsession and run the server.R function.</li>
    <li>Go to the templates directory and launch the index.html - I use the Live Server extension in Visual Studio Code
      .</li>

  </ul>


  <footer class="page-footer center align">
    <a href="https://twitter.com/lluta" style="color:#fff; outline: none;">Twitter &nbsp</a>&#8226<a
      href="https://github.com/dviera/RestrServe-App-R" style="color:#fff; outline: none;">&nbsp Github</a>
  </footer>


  <script src="../static/js/main.js"></script>
</body>

</html>